.sponsor-wall {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: var(--gap);
    justify-items: center;
}

.sponsor {
    max-width: 200px;
}

.sponsor img {
    width: 100%;
    height: auto;
    border-radius: var(--gap-half);
    transition: transform 0.2s ease-in-out;
}

.sponsor img:hover {
    transform: scale(1.07);
}

.sponsor a {
    display: block;
    text-decoration: none;
}

@media only screen and (max-width: 600px) {
    .sponsor-wall {
        grid-template-columns: repeat(auto-fill, minmax(125px, 1fr));
    }
}